 *{margin: 0 auto;  
            }
            
            header {
                width: 90%;
                background-color: #b4e5e7;
                padding: 10px;
            }
            
            nav{
                width: 90%;
                background-color: #9bd7db;
                padding: 10px;
                display: flex;
                align-items: center;
            }
          
            nav a{
                color: white;
                text-decoration: none;
            }
            
            nav a:hover {
                color:#1d628d;
            }
            
            main{
                width: 90%;
                height: 500px;
                padding: 10px;
                background-color: #cef2f3;
            }
            
            footer{
                width: 90%;
                padding: 10px;
                background-color: #cef2f3;
            }
            
            h1{
                color: white;
            }
            
            p{
                color: #6ec5df;
            }
            
            iframe{
                border: 0px;
                width: 100%;
                height: 500px;  
            }
